[submodule "cub_reader/get_next_line"]
	path = cub_reader/get_next_line
	url = https://github.com/caio-vinicius/get_next_line.git
[submodule "cub_reader/libft"]
	path = cub_reader/libft
	url = https://github.com/caio-vinicius/libft
